body {
	background-color: wheat;
}

.header {
	padding-left: 30rem;
}

.link {
	padding-left: 30rem;
	margin: 0;
}

.icon {
	margin-left: 10px;
}
.ink {
	padding-left: 10px;
}

.container {
	display: grid;
	grid-template-columns: 150px 150px 200px;
	text-align: center;
	padding-left: 20rem;
	margin-top: 10px;
	width: 5px;
}
.column {
	padding: 16px;
	width: 100px;
	height: 250px;
	margin: 5px;
	background-color: #cccccc;
	gap: 2px;
}
