body {
	background-color: rgb(68, 68, 185);
}

.header {
	padding-left: 30rem;
}

.link {
	padding-left: 30rem;
	margin: 0;
}

.icon {
	margin-left: 10px;
}
.ink {
	padding-left: 10px;
}

.user {
	width: 300px;
	border: 15px solid;
	padding: 50px;
	margin: 20px;
}
.text {
	padding-left: 5rem;
	margin: 0;
}
.tag {
	padding-left: 4rem;
	margin: 0;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Slab', serif;
}
.about {
	margin-top: 2px;
	margin-bottom: 2px;
	background-color: blue;
}
